.wpbt-inline-notice {
	padding: 20px 25px;
	background-color: #f8f8f8;
	border-style: dashed;
	border-width: 2px;
	border-color: #eee;
	width: 100%;

	&.is-warning {
		background-color: #fef8ee;
		border-color: #f0b849;
	}

	&.is-error {
		background-color: #fce8e9;
		border-color: #c72629;
	}

	&.is-size-small {
		padding: 10px 15px;
		border-width: 1px;
	}
}

.wpbt-checkbox-wrapper {
	height: 200px;
	overflow: auto;
	padding-left: 4;

	> .components-base-control {
		margin-bottom: 5px;

		.components-checkbox-control__label > div {
			display: inline;
		}
	}
}

.wpbt-combobox-wrapper {
	ul.components-form-token-field__suggestions-list {
		margin: 4px -4px -4px;
		padding: 0;
	}
}

.wpbt-search-input {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;

	input {
		width: 100%;
	}
}

.wpbt-sortable-posts-control {
	position: relative;

	&__list {
		border: solid 1px #d3d3d3;
		border-radius: 3px;
		padding: 5px;
		height: 200px;
		overflow-y: scroll;
		margin-top: 3px;
	}

	&__option {
		cursor: pointer;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-bottom: 1px;
		display: block;
		width: 100%;
		background-color: #fff;
		color: #000;
		border: none;
		text-align: left;

		&.is-selected {
			background-color: hsl(0, 0%, 90%);
		}
	}

	&__sortable-list {
		position: relative;
	}

	&__sortable-item {
		position: relative;
		padding-top: 3px;
		padding-bottom: 3px;
		cursor: move;
		user-select: none;

		&:hover {
			.wpbt-sortable-posts-control__sortable-remove {
				visibility: visible;
			}
		}

		// Prevent "remove" buttons from showing while dragging
		&[style*=":"] {
			.wpbt-sortable-posts-control__sortable-remove {
				visibility: hidden;
			}
		}
	}

	&__sortable-remove {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		background-color: #000;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		z-index: 2;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;

		&::after {
			content: "";
			background-color: #fff;
			width: 8px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__subtitle {
		margin-top: 10px;
		margin-bottom: 3px;
		opacity: 0.5;
		font-weight: 400;
	}

	&__search {
		margin-bottom: 2px;
		width: 100%;
	}
}

.wpbt-post-search-control {
	position: relative;
    z-index: 2;

    &__input {
        width: 100%;
        display: block;
        border-radius: 2px;
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border: solid 1px var(--wp-admin-theme-color);
        box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
        border-radius: 2px;
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;
        max-height: 300px;
        overflow: auto;

        &:empty {
            display: none;
        }

        p {
            padding: 10px;
        }
    }

    &__spinner {
        padding: 10px;
    }

    &__option {
        display: block;
        text-align: left;
        width: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 4px 8px;

        &:hover {
            background: var(--wp-admin-theme-color);
            color: #fff;
        }
    }

    &__reset {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 24px;
        min-width: 24px;
        padding: 0;
		background: #fff;
    }

    &__wrapper {
        position: relative;
        width: 100%;
    }
}
